table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5em;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  background: #f4f4f4;
}

hr {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 2em 0;
}
